body{
    background-image: url("lab33/pattern-wide-dashes-flow-diag.png") !important;
    background-color: transparent;    
    font-family: 'Roboto', sans-serif;
}
p{
    text-align: right;
}

h2{
    text-align: right;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: right;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
em{
    color: greenyellow;
    text-decoration-line: double;
}

strong{
    font-family: 'Caveat', sans-serif;
}