body{
    color:black;

    background-image:"pattern-wide-dashes-flow-diag.png";
    font-family: 'Roboto', sans-serif;
}
p{
    text-align: right;
}

h2{
    text-align: right;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: right;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
em{
    color: greenyellow;

}

strong{
    font-family: 'Caveat', sans-serif;
}